.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #03be9f;
  border: 1px solid #03be9f;
  cursor: pointer;
}

.comments button:hover,
.comments button:active {
  background-color: #dcfff9;
}

.loading {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-weight: bold;
  /* Add this line for bold text, adjust as needed */
  color: #333;
  /* Add this line for a custom text color, adjust as needed */
}